
@import url('https://cdn.jsdelivr.net/gh/cvemann/myfonts/fonts.css');


@font-face {
    font-family: 'PP Neue Machina Inktrap Light Italic';
    src: url('PPNeueMachina-InktrapLightItalic.woff2') format('woff2'),
         url('PPNeueMachina-InktrapLightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PP Neue Machina Inktrap Regular Italic';
    src: url('PPNeueMachina-InktrapRegularItalic.woff2') format('woff2'),
         url('PPNeueMachina-InktrapRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PP Neue Machina Inktrap Ultrabold Italic';
    src: url('PPNeueMachina-InktrapUltraboldItalic.woff2') format('woff2'),
         url('PPNeueMachina-InktrapUltraboldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PP Neue Machina Plain Light Italic';
    src: url('PPNeueMachina-PlainLightItalic.woff2') format('woff2'),
         url('PPNeueMachina-PlainLightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PP Neue Machina Plain Regular Italic';
    src: url('PPNeueMachina-PlainRegularItalic.woff2') format('woff2'),
         url('PPNeueMachina-PlainRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PP Neue Machina Plain Ultrabold Italic';
    src: url('PPNeueMachina-PlainUltraboldItalic.woff2') format('woff2'),
         url('PPNeueMachina-PlainUltraboldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PP Neue Machina Inktrap Ultrabold';
    src: url('PPNeueMachina-InktrapUltrabold.woff2') format('woff2'),
         url('PPNeueMachina-InktrapUltrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PP Neue Machina Inktrap Light';
    src: url('PPNeueMachina-InktrapLight.woff2') format('woff2'),
         url('PPNeueMachina-InktrapLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PP Neue Machina Inktrap Regular';
    src: url('PPNeueMachina-InktrapRegular.woff2') format('woff2'),
         url('PPNeueMachina-InktrapRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PP Neue Machina Plain Ultrabold';
    src: url('PPNeueMachina-PlainUltrabold.woff2') format('woff2'),
         url('PPNeueMachina-PlainUltrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PP Neue Machina Plain Light';
    src: url('PPNeueMachina-PlainLight.woff2') format('woff2'),
         url('PPNeueMachina-PlainLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PP Neue Machina Plain Regular';
    src: url('PPNeueMachina-PlainRegular.woff2') format('woff2'),
         url('PPNeueMachina-PlainRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
